@import "tailwindcss";

:root {
    --body-bg: var(--p-surface-950);
    --body-text-color: var(--p-surface-200);
    --card-border: 1px solid var(--border-color);
    --card-bg: var(--p-surface-0);
    --border-color: var(--p-surface-200);
    --text-color: var(--p-surface-700);
    --overlay-background: #ffffff;
}

:root[class='p-dark'] {
    --body-bg: var(--p-surface-950);
    --body-text-color: var(--p-surface-50);
    --card-border: 1px solid transparent;
    --card-bg: var(--p-surface-900);
    --border-color: rgba(255, 255, 255, 0.1);
    --text-color: var(--p-surface-0);
    --overlay-background: var(--p-surface-900);
}

html {
    font-size: 14px;
    line-height: normal;
}

body {
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--body-bg);
    font-weight: 600;
    color: var(--body-text-color);
    padding: 1rem;
    font-family: 'Inter', sans-serif;
}

.card {
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin: 0px;
    padding: 1rem;
    min-height: 90%;
}
